
* {
  box-sizing: border-box;
}


html,
body {
  font-family: $main-font;
}

ul {
  list-style: none;
}

a {
  color: #000;
  outline: none !important;
  text-decoration: none;
  transition: all linear 0.1s;

  &:hover {
    // color: $brand-main-color-3;
  }
}

.hide {
  display: none;
}

.main-content-wrapper {


  padding-top: 215px;

  &.with-bottom-padding {
    padding-bottom: 100px;
  }

}

.margin-top-bottom {
  margin-top: 5px;
  margin-bottom: 5px;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

