.bg-orange {
  background-color: $brand-main-color-2;
}

.bg-green {
  background-color: $brand-main-color-1;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.text-align-left {
  text-align: left;
}

.padding-top-sm {
  padding-top: 10px;
}

.padding-top-lg {
  @media screen and (max-width: 768px) {
    padding-top: 250px;
  }
}

.margin-top-negative {
  @media screen and (max-width: 768px) {
    margin-top: -140px;
    text-align: center;
  }
}

.hidden {
  display: none !important;
}