/*=========|  RESETS  |=========*/
/*===============================*/

/* normalize.css 2011-07-06T20:20 UTC //github.com/jonathantneal/normalize.css */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
	display: block
}

html {
	cursor: default;
	font-size: 100%;
	-webkit-tap-highlight-color: transparent;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}



body, form, input, button, select, textarea {
	font-size: 100%;
	margin: 0 auto;
}


a, a:active, a:hover {
	outline: none
}

a:focus {
	outline: thin dotted
}

abbr[title] {
	border-bottom: 1px dotted
}

b, strong {
	font-weight: bold
}

dfn {
	font-style: italic
}

mark {
	background: #FF0;
	color: #000
}

pre, code, kbd, samp {
	font-family: monospace, monospace;
	_font-family: 'courier new', monospace;
	font-size: 1em
}

pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word
}

q {
	quotes: none
}

q:before, q:after {
	content: '';
	content: none
}

small, sub, sup {
	font-size: 75%
}

sub, sup {
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

sup {
	top: -0.5em
}

sub {
	bottom: -0.25em
}

nav ul {
	list-style: none
}

audio[controls], canvas, video {
	display: inline-block;
	*display: inline
}

audio {
	display: none;
}

audio[controls] {
	display: inline-block
}

img {
	border: 0;
	-ms-interpolation-mode: bicubic
}

svg:not(:root) {
	overflow: hidden
}

legend {
	*margin-left: -7px
}

button, input, select, textarea {
	-webkit-appearance: none;
	border-radius: 0;
	vertical-align: baseline;
	*vertical-align: middle
}

button, input {
	line-height: normal;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
	overflow: visible
}

input[type="checkbox"], input[type="radio"] {
	box-sizing: border-box
}

input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none
}

button::-moz-focus-inner, input::-moz-focus-inner {
	border: 0;
	padding: 0
}

textarea {
	overflow: auto;
	vertical-align: top
}

table {
	border-collapse: collapse;
	border-spacing: 0
}
