h1 {
    width: 100%;
    font-size: 60px;
}

h2 {
    font-size: 60px;
    font-weight: 300;
    color: #fff;
    line-height: 1.4;
}

h3 {
    color: $brand-main-color-3;
    font-size: 48px;
    font-weight: 700;
}

h4 {
    font-size: 18px;
    font-weight: 700;
    display: inline;

    &.block {
        display: block;
    }
}

p {
    font-size: 60px;
    font-weight: 300;
    color: #fff;
    line-height: 1.4;
    font-size: 24px;

    &.black {
        color: #000;
    }

    &.small {
        color: #000;
        font-weight: 400;
        font-size: 18px;
    }
}

span {
    color: #000;
    font-size: 24px;

    &.big {
        font-size: 36px;   
        font-weight: 300;
        display: block;
    }
}