$gutter: 10px;
$width: 100%;
$breakpoint-small: 33.75em; // 540px
$breakpoint-med: 48em; // 720px
$breakpoint-large: 64em; // 960px


$main-font: 'Roboto Condensed', sans-serif;

$brand-main-color-1: #6fa626;
$brand-main-color-2:#da8200;
$brand-main-color-3:#1b242a;

$brand-secondary-color-1:#7399b6;
$brand-secondary-color-2:#91618c;
$brand-secondary-color-3:#d7d3c7;


