.superior-quality {
    background: center / contain no-repeat url('../img/superior-quality.png');
    height: 100vh;
    width: 100%;

    @media screen and (max-width: $breakpoint-small) {
        height: 80vh;
        margin-top: -100px;
    }

    ul {
        width: 25%;
        position: absolute;
        right: 0;
        top: 40%;

        @media screen and (max-width: $breakpoint-small) {
            top: 65%;
            left: 30%;
        }

        @media screen and (min-width: $breakpoint-small) and (max-width: $breakpoint-large) {
            right: 40px;
        }


        li {
            @extend %li;

            @media screen and (max-width: $breakpoint-med) {
                font-size: 18px;
                top: 70%;
                left: 30%;
            }

            @media screen and (min-width: $breakpoint-med) and (max-width: $breakpoint-large) {
                font-size: 24px;
            }
        }

        strong {
            @extend %strong;
        }
    }
}

.inspired-design-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;

    @media screen and (max-width: $breakpoint-med) {
        flex-flow: row wrap;
    }

    p {
        position: absolute;
        top: 40%;
        left: 0;

        @media screen and (max-width: $breakpoint-med) {
            left: 10%;
            top: 0;
        }

        @media screen and (min-width: $breakpoint-med) and (max-width: $breakpoint-large) {
            left: 20px;
        }

        span {
            font-size: 18px;
            font-weight: 400;
            background-color: #fff;
        }
    }

    li {
        @extend %li;
        white-space: nowrap;

        @media screen and (max-width: $breakpoint-med) {
            font-size: 18px;
        }

        @media screen and (min-width: $breakpoint-med) and (max-width: $breakpoint-large) {
            font-size: 24px;
            padding-right: 40px;
        }
    }

    strong {
        @extend %strong;
    }

    .inspired-design {
        background: center / contain no-repeat url('../img/inspired-design.png');
        height: 80vh;
        width: 70%;

        @media screen and (max-width: $breakpoint-small) {
            width: 100%;
        }
    }

    ul {
        @media screen and (max-width: $breakpoint-small) {
            position: absolute;
            left: 40%;
            bottom: 10%;
        }
    }
}


.made-in-eu {
    background: center / contain no-repeat url('../img/made-in-eu.png');
    height: 100vh;
    width: 100%;
    margin-top: -100px;

    @media screen and (max-width: $breakpoint-small) {
        height: 70vh;
    }
}

.perfect-lifestyle-fit {
    background: center / contain no-repeat url('../img/perfect-lifestyle-fit.png');
    height: 100vh;
    width: 100%;
    position: relative;
    margin-top: -100px;

    .text {
        position: absolute;
        left: 0;
        top: 20%;

        @media screen and (max-width: $breakpoint-large) {
            left: 20px;
        }

        span {
            background-color: #fff;
            font-size: 18px;
        }
    }
}