footer {
    background-color: $brand-main-color-3;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 60px;
    margin-top: -100px;

    .footer-pattern {
        background: center / cover no-repeat url('../img/footer_copy.png');
        height: 20vh;
        width: 100%;
        margin-top: -120px;
    }

    ul {
        @media screen and (max-width: $breakpoint-med) {
            text-align: center;
        }
    }

    li {
        padding-bottom: 10px;
        padding-right: 20px;
        padding-left: 20px;

        a {
            font-weight: 700;
            color: $brand-secondary-color-3;
            font-size: 20px;
        }

        strong {
            font-size: 32px;
            font-weight: 400;
            color: #797b78;
        }
    }

    .copyright {
        margin-top: 40px;

        @media screen and (max-width: $breakpoint-med) {
            text-align: center;
        }

        span {
            margin-top: 20px;
            color: #797b78;
            font-size: 14px;
            padding-left: 20px;
        }
    }

}