%flex-content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

nav {
    background-color: #f5f4f1;
    width: 100%;
    position: fixed;
    z-index: 1000;

    .mobile-nav {
        display: block;
        max-height: 0;
        transition: all 0.5s linear;
        line-height: 50px;
        overflow-y: hidden;

        &.open {
            max-height: 30vh;
            padding: 10px;
            border-bottom: 1px solid $brand-main-color-3;
        }


        li a {
            color: #fff;
            font-size: 26px;

            &:hover {
                color: $brand-main-color-2;
                background-color: #fff;
                padding: 10px;
                border-radius: 10px;
                cursor: pointer;
            }
        }
    }

    .icon-navicon-round {
        height: 80px;
        width: 80px;
        fill: #fff;
        cursor: pointer;
        &.close {
            display: none;
        }
    }

    .icon-close {
        display: none;
        height: 80px;
        width: 80px;
        fill: #fff;
        cursor: pointer;
        &.open {
            display: inline;
        }
    }

    ul {
        @extend %flex-content;
        justify-content: flex-end;

        li {
            padding: 10px 25px;
            white-space: nowrap;
        }

        .cart {
            background-color: $brand-secondary-color-3;
            @extend %flex-content;
            justify-content: space-between;

            .icon-cart {
                height: 40px;
                width: 40px;
                display: inline-block;
                fill: #fff;
            }

            span {
                width: 50%;
                color: #fff;
                font-size: 16px;
            }
        }
    }
}

.navigation-wrapper {
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    padding-top: 50px;

    .navigation {
        ul {
            display: flex;
            justify-content: space-between;

            li {
                font-size: 45px;
                font-weight: 700;
                width: 100%;
                text-align: center;
                position: relative;

                &:hover:after {
                    content: "";
                    background-color: $brand-main-color-1;
                    width: 200px;
                    height: 102px;
                    border-radius: 50%;
                    position: absolute;
                    bottom: -120px;
                    z-index: 10;
                    left: 50%;
                    transform: translateX(-50%);
                }

                &:nth-child(1) a {
                    color: $brand-secondary-color-1;
                }

                &:nth-child(2) a {
                    color: $brand-main-color-2;
                }

                &:nth-child(3) a {
                    color: $brand-secondary-color-2;
                }

                &:nth-child(4) a {
                    color: $brand-main-color-1;
                }
            }
        }
    }
}