%li {
    font-size: 32px;
    font-weight: 700;
    width: 100%;
    color: #babdbf;
    padding-bottom: 10px;
}

%strong {
    color: #000;
}

.banner {
    background: url('../img/banner.png');
    background-size: cover;
    height: 100vh;
    width: 100%;

    @media screen and (max-width: $breakpoint-med) {
        background: $brand-main-color-2;
        background-image: url('../img/main-logo.png');
        background-position: 50% 25%;
        background-repeat: no-repeat;
        background-size: 90% 10%;
    }

    @media screen and (min-width: 425px) and (max-width: 768px) {
        background-size: 60% 10%;
    }

    h3 {
        position: absolute;
        top: 45%;
        left: 43%;
        font-size: 32px;
        color: #fff;
        font-weight: 400;

        @media screen and (max-width: $breakpoint-small) {
            top: 40%;
            right: 50%;
        }

    }
}

.banner-footer {
    margin-top: -180px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;

    @media screen and (min-width: $breakpoint-med) {
        flex-flow: row nowrap;
    }

    .category {
        background-color: #fff;
        border-top-left-radius: 150px 90px;
        border-top-right-radius: 150px 90px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        margin-right: 5px;
        margin-left: 5px;
        width: 25%;
        height: 400px;
        transition: all .4s;

        &:hover {
            background-color: hsl(213, 9%, 81%);
            border-bottom-left-radius: 25%;
            border-bottom-right-radius: 25%;
            transform: translateY(-50px);
        }

        &:nth-child(1) h1 {
            color: $brand-secondary-color-1;
        }

        &:nth-child(2) h1 {
            color: $brand-main-color-2;
        }

        &:nth-child(3) h1 {
            color: $brand-secondary-color-2;
        }

        &:nth-child(4) h1 {
            color: $brand-main-color-1;
        }

        @media screen and (max-width: $breakpoint-med) {
            width: 100%;
        }

        @media screen and (min-width: $breakpoint-small) and (max-width: $breakpoint-med) {
            width: 45%;
        }

        img {
            max-width: 100%;
            height: auto;
        }

    }
}

.banner_stripe {
    background-image: url('../img/mountains-background.png');
    background-size: cover;
    position: relative;
    height: 18vh;
    width: 100%;
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5%;
    z-index: 100;
    overflow: hidden;
    transition: all 0.4s;

    &.green {
        background-color: $brand-main-color-1;
    }

    .expand {
        transition: all 0.4s;
    }

    svg {
        fill: #fff;
        height: 20px;
        width: 24px;
        display: inline-block;
        transition: all .6s linear;
    }

    &.open {
        height: 50vh;
        svg {
            transform: rotate(180deg);
        }
        .expand {
            margin-top: 250px;
        }
    }
}

.expand {
    height: 18vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    span {
        color: #fff;
        font-size: 24px;
        font-weight: 700;
        cursor: pointer;
    }
}