.btn {
  padding: 15px 30px;
  font-weight: 700;
  font-size: 24px;
  cursor: pointer;
  display: inline-block;
  border: 2px solid transparent;
  border-radius: 15px;
  background-color: $brand-main-color-1;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 30px;

  &:hover {
    color: $brand-main-color-1;
    background-color: #fff;
    border-color: $brand-main-color-1;
  }
}