.divider {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;

    &.small {
        width: auto;
        margin-bottom: -40px;
    }

    .divider-texture {
        background-image: url('../img/texture.png');
        background-repeat: repeat;
        background-position: top left;
        height: 60px;
        width: 100%;

        &.smaller {
            width: 20%;
            margin-bottom: 0;
        }

        &.small {
            width: 40%;
        }

        &.half {
            width: 50%;
        }

        &.medium {
            width: 60%;
        }

        &.large {
            width: 80%;
        }

    }

    span {
        font-size: 60px;
        font-weight: 300;
        padding-left: 5px;
        padding-right: 5px;
        white-space: nowrap;

        @media screen and (max-width: $breakpoint-med) {
            font-size: 30px;
        }
    }
}