.dropdown {
    &.open {
        .dropdown-menu {
            display: flex;
        }
        .icon-down-dir {
            transform: rotate(180deg); 
        }
    }

    .icon-down-dir {
        height: 16px;
        width: 16px;
        display: inline-block;
        fill: #000;
        cursor: pointer;
        transition: all .3s linear;
    }

    &-menu {
        display: none;
        flex-flow: row wrap;
        justify-content: center;
        position: absolute;
        background-color: #f5f4f1;
        border-radius: 5px;
        min-width: 50px;
        max-width: 90px;
        z-index: 1;
        transition: all .3s linear;
        transform: translateY(10px);

        a {
            padding: 5px 5px;
            border-radius: 0;
            width: 100%;
            cursor: pointer;

            &:hover {
                background-color: $brand-secondary-color-3;
            }
            
        }
    }
}