.product-wrapper {
    margin-top: 40px;
    margin-bottom: 100px;

    .product {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;

        .divider-texture {
            background-image: url('../img/texture.png');
            height: 20px;
            width: 100%;
        }

        span,
        h3 {
            width: 100%;
            font-size: 24px;
            line-height: 0.5;
        }

        img {
            max-width: 100%;
            height: auto;
        }
    }
}

.product-description {
    margin-top: 40px;
    margin-bottom: 20px;
}

.color-picker {
    margin-top: 10px;
    margin-bottom: 30px;

    img {
        border: 2px solid transparent;
    }

    .sprite {
        display: inline-block;
        background: url("../img/color-picker-sprite.png") no-repeat top left;
        width: 39px;
        height: 39px;
        margin-right: 5px;
        margin-bottom: 5px;


        &.color1 {
            background-position: 0 0;
        }

        &.color2 {
            background-position: -49px 0;
        }

        &.color3 {
            background-position: -98px 0;
        }

        &.color4 {
            background-position: -147px 0;
        }

        &.color5 {
            background-position: -196px 0;
        }

        &.color6 {
            background-position: -245px 0;
        }

        &.color7 {
            background-position: -294px 0;
        }

        &.color8 {
            background-position: -343px 0;
        }

        &.color9 {
            background-position: -392px 0;
        }

        &:hover {
            border-color: #fff;
            border-radius: 50%;
            box-shadow: 0 0 7px rgba(0, 0, 0, 0.75);
            cursor: pointer;
        }
    }
}

.simple-gallery {
    .selected-img-wrapper {
        padding-top: 100px;
        position: relative;

        .selected-img {
            transition: all .3s;

            &.fadeIn {
                opacity: 1;
                animation: fade 1s linear;

                @keyframes fade {
                    0% {
                        opacity: 0.2;
                    }

                    50% {
                        opacity: 0.5;
                    }

                    75% {
                        opacity: 0.7;
                    }

                    100% {
                        opacity: 1;
                    }
                }
            }
        }


        .thumbnails {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;

            li {
                height: 84px;
                width: 60px;
                display: inline-block;
                margin-right: 5px;
                transition: all .3s;

                &:hover {
                    transform: scale(1.4);
                }
            }
        }
    }
}