.hidden-sm {
  @media screen and (max-width: $breakpoint-med) {
    display: none;
  }
}

.hidden-large {
  @media screen and (min-width: 769px) {
    display: none;
  }
}

.container {
  width: 100%;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;

  &.smaller{
    max-width:820px;
  }
}


.row {
  position: relative;
  margin-left: -$gutter;
  margin-right: -$gutter;
}

.row>[class^="col"] {
  float: left;
  padding: 0 $gutter;
  min-height: 0.125rem;
}

.row::after,
.row_half_gutter::after {
  content: "";
  display: table;
  clear: both;
}


.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 100%;
}



.col-1-sm {
  width: (100% / 12);
}

.col-2-sm {
  width: (100% / 6);
}

.col-3-sm {
  width: (100% / 4);
}

.col-4-sm {
  width: (100% / 3);
}

.col-5-sm {
  width: (100% / (12 / 5));
}

.col-6-sm {
  width: (100% / 2);
}

.col-7-sm {
  width: (100% / (12 / 7));
}

.col-8-sm {
  width: (100% / (12 / 8));
}

.col-9-sm {
  width: (100% / (12 / 9));
}

.col-10-sm {
  width: (100% / (12 / 10));
}

.col-11-sm {
  width: (100% / (12 / 11));
}

.col-12-sm {
  width: 100%;
}

@media only screen and (min-width: $breakpoint-med) {
  .col-1 {
    width: (100% / 12)
  }

  .col-2 {
    width: (100% / 6)
  }

  .col-3 {
    width: (100% / 4)
  }

  .col-4 {
    width: (100% / 3)
  }

  .col-5 {
    width: (100% / (12 / 5))
  }

  .col-6 {
    width: (100% / 2)
  }

  .col-7 {
    width: (100% / (12 / 7))
  }

  .col-8 {
    width: (100% / (12 / 8))
  }

  .col-9 {
    width: (100% / (12 / 9))
  }

  .col-10 {
    width: (100% / (12 / 10))
  }

  .col-11 {
    width: (100% / (12 / 11))
  }

  .col-12 {
    width: 100%;
  }
}